<script>
    import {Button} from 'sveltestrap';

    const devBackend="https://osu.ppy.sh/oauth/authorize?client_id=8202&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A727%2Fapi%2Fauth%2Fcallback&scope=identify";
    const prodBackend="https://osu.ppy.sh/oauth/authorize?client_id=8201&response_type=code&redirect_uri=https%3A%2F%2Fapi.tori.sinsa92.net%3A727%2Fapi%2Fauth%2Fcallback&scope=identify"

    const authUrl = process.env.isProd ? prodBackend : devBackend;

    function login() {
        window.location.href=authUrl;
    }


</script>

<h1>Tori - Referee Helper</h1>


<Button color="primary" on:click={login}>Login with osu!</Button>
